<h1>Happy Posts</h1>
{{#if happyData.length}}
{{#each happyData as | post |}}
    <h4>{{post.username}}</h4>
    <h4>{{post.song_title}}</h4>
    <h4>{{post.artist_name}}</h4>
    <h4>{{post.genre}}</h4>
{{/each}}
{{/if}}