<section class="username-section">
    <h1>Hearted Posts</h1>
    {{#if heartedData.length}}
        {{#each heartedData as | post |}}
            <div class="post-container post-section">
                <h3 class="post-username">Hearted By: {{post.username}}</h3>
                <h2 class="post-title">{{post.song_title}}</h2>
                <h3 class="post-artist">{{post.artist_name}}</h3>
                <h4 class="post-genre">{{post.genre}}</h4>
            </div>
        {{/each}}
    {{/if}}
</section>