<section>
    <h1>Liked Posts</h1>
    {{#if likedData.length}}
        {{#each likedData as | post |}}
            <div class="post-container">
                <h4 class="post-username">Liked By: {{post.username}}</h4>
                <h2 class="post-title">{{post.song_title}}</h2>
                <h3 class="post-artist">{{post.artist_name}}</h3>
                <h4 class="post-genre">{{post.genre}}</h4>
            </div>
        {{/each}}
    {{/if}}
</section>


