<section>
<h1>{{user.username}}</h1>
{{#if user.music.length}}
    {{#each user.music as | post |}}
        <h4>{{post.song_title}}</h4>
        <h4>{{post.artist_name}}</h4>
        <h4>{{post.genre}}</h4>
    {{/each}}
{{/if}}
</section>